<div class="admin-welcome-message">
  Welcome <span class="admin-name">{{firstName}}</span>, the time is now: <span class="current-time">{{currentTime}}</span>. You have super-secret admin access since you are an admin. Remember, with great power comes great responsibility.
</div>

<h1>{{firstName}}'s Admin Profile</h1>

<div class="admin-profile-info">
  <p>Hello {{firstName}} {{lastName}}!! Here is your profile</p>
  <p>FirstName: {{firstName}}</p>
  <p>LastName: {{lastName}}</p>
  <p>EmailAddress: {{emailAddress}}</p>
  <p>Role: {{role}}</p>
</div>
{{#if admin}}
  <div class="admin-actions">
    <button onclick="window.location.href='/admin/feedback'" type="button">
      View Submitted Feedback
    </button>
    <button onclick="window.location.href='/protected'" type="button">
      Link to the User Page
    </button>
  </div>
{{/if}}

<a href="/logout" class="logout-link">Logout</a>
