<article class="messages">
    <h1>Messages Sent by {{firstName}} {{lastName}}</h1>
    {{#if messages.length}}
        <ul class="message-list">
            {{#each messages}}
                <li>
                    <p>To: {{this.receiver.username}}</p>
                    <p>Message: {{this.message}}</p>
                    <p>EEG Data: {{this.eegData}}</p>
                    <p>Predicted Results: {{this.prediction}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>You have not sent any messages.</p>
    {{/if}}

    <h2>Send a Message with EEG Data</h2>
    <form action="/sendmessage" method="POST">
        <div class="form-group">
            <label for="receiverUsername">Recipient's Username:</label>
            <input type="text" id="receiverUsername" name="receiverUsername" required>
        </div>
        <div class="form-group">
            <label for="messageContent">Message:</label>
            <textarea id="messageContent" name="messageContent" required></textarea>
        </div>
        <div class="form-group">
            <label for="eegData">EEG Data (JSON format):</label>
            <textarea id="eegData" name="eegData" required placeholder='{"data": [...]}'></textarea>
        </div>
        <button type="submit">Send Message</button>
    </form>
    
    <a href="/user">Back to Profile</a>
</article>
