{{!--

If the user is logged in , and 'GET /user' endpoint is called, you will render this view based on the specs.

--}}

<div id="userView">
    <p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}}. Your role in the system is: {{role}}.</p>
    <p id="quote">AboutMe: {{AboutMe}}</p>
    {{#if admin}}
    <a id="adminLink" href="/admin">Admin Page</a>
    {{/if}}
    <a id="logoutLink" href="/logout">Logout</a>
    <a id="edituser" href="/edituser">Edit User</a>
    <a id="sendmessage" href="/sendmessage">Send Messages</a>
    <a id="viewmessage" href="/viewmessage">View Messages</a>
    <a id="sendfeedback" href="/sendfeedback">Send Feedback</a>
    <a id="viewfeedback" href="/viewfeedback">View My Feedback</a>
    <a id="viewuser" href="/viewuser">View</a>
</div>
