<h1>Your Profile</h1>
<p>Name: {{firstName}} {{lastName}}</p>
<p>AboutMe: {{AboutMe}}</p>
<p>Theme: {{themePreference}}</p>
<p>Role: {{role}}</p>
<p>Current Time: {{currentTime}}</p>
<a href="/edituser">Edit Profile</a>
<a href="/logout">Logout</a>
